

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import numpy as np

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df_new = application_df.drop(columns=["EIN","NAME"])
application_df_new.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_values = application_df_new.nunique()
unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df_new["APPLICATION_TYPE"].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
cls_counts = application_df_new["CLASSIFICATION"].value_counts()
cls_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count = cls_counts[cls_counts>1]
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(cls_counts[cls_counts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_app_df = pd.get_dummies(application_df)
numeric_app_df

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,10531628,1,108590,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,10547893,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,10553066,1,6692,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,10556103,1,142590,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,996010315,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,996012607,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,996015768,1,5000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,996086871,1,36500179,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = numeric_app_df["IS_SUCCESSFUL"]
X = numeric_app_df.drop(["IS_SUCCESSFUL"],axis=1)


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation="relu", input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=20, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                196130

 dense_1 (Dense)             (None, 20)                220

 dense_2 (Dense)             (None, 30)                630

 dense_3 (Dense)             (None, 1)                 31

=================================================================
Total params: 197,011
Trainable params: 197,011
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 8s 9ms/step - loss: 0.4859 - accuracy: 0.7692
Epoch 2/100
804/804 [==============================] - 7s 9ms/step - loss: 0.2928 - accuracy: 0.8746
Epoch 3/100
804/804 [==============================] - 7s 9ms/step - loss: 0.1474 - accuracy: 0.9430
Epoch 4/100
804/804 [==============================] - 7s 9ms/step - loss: 0.1259 - accuracy: 0.9499
Epoch 5/100
804/804 [==============================] - 8s 10ms/step - loss: 0.1010 - accuracy: 0.9602
Epoch 6/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0961 - accuracy: 0.9623
Epoch 7/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0946 - accuracy: 0.9624
Epoch 8/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0936 - accuracy: 0.9631
Epoch 9/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0932 - accuracy: 0.9623
Epoch 10/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0922 - accuracy: 0.9637
Epoch 11/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0921 - accuracy: 0.9633
Epoch 12/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0917 - accuracy: 0.9626
Epoch 13/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0908 - accuracy: 0.9640
Epoch 14/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0901 - accuracy: 0.9642
Epoch 15/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0899 - accuracy: 0.9643
Epoch 16/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0896 - accuracy: 0.9633
Epoch 17/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0887 - accuracy: 0.9640
Epoch 18/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0893 - accuracy: 0.9648
Epoch 19/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0888 - accuracy: 0.9642
Epoch 20/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0886 - accuracy: 0.9647
Epoch 21/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0880 - accuracy: 0.9650
Epoch 22/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0881 - accuracy: 0.9644
Epoch 23/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0876 - accuracy: 0.9648
Epoch 24/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0875 - accuracy: 0.9652
Epoch 25/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0868 - accuracy: 0.9655
Epoch 26/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0867 - accuracy: 0.9652
Epoch 27/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0865 - accuracy: 0.9654
Epoch 28/100
804/804 [==============================] - 8s 11ms/step - loss: 0.0859 - accuracy: 0.9658
Epoch 29/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0857 - accuracy: 0.9662
Epoch 30/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0859 - accuracy: 0.9656
Epoch 31/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0852 - accuracy: 0.9663
Epoch 32/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0854 - accuracy: 0.9655
Epoch 33/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0851 - accuracy: 0.9665
Epoch 34/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0849 - accuracy: 0.9662
Epoch 35/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0843 - accuracy: 0.9658
Epoch 36/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0839 - accuracy: 0.9659
Epoch 37/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0835 - accuracy: 0.9667
Epoch 38/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0832 - accuracy: 0.9663
Epoch 39/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0828 - accuracy: 0.9668
Epoch 40/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0828 - accuracy: 0.9671
Epoch 41/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0827 - accuracy: 0.9668
Epoch 42/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0826 - accuracy: 0.9666
Epoch 43/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0823 - accuracy: 0.9668
Epoch 44/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0820 - accuracy: 0.9668
Epoch 45/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0815 - accuracy: 0.9669
Epoch 46/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0814 - accuracy: 0.9668
Epoch 47/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0809 - accuracy: 0.9672
Epoch 48/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0814 - accuracy: 0.9669
Epoch 49/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0810 - accuracy: 0.9670
Epoch 50/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0810 - accuracy: 0.9677
Epoch 51/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0809 - accuracy: 0.9673
Epoch 52/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0800 - accuracy: 0.9677
Epoch 53/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0801 - accuracy: 0.9675
Epoch 54/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0806 - accuracy: 0.9672
Epoch 55/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0800 - accuracy: 0.9675
Epoch 56/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0799 - accuracy: 0.9682
Epoch 57/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0797 - accuracy: 0.9671
Epoch 58/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0794 - accuracy: 0.9684
Epoch 59/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0790 - accuracy: 0.9681
Epoch 60/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0788 - accuracy: 0.9680
Epoch 61/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0788 - accuracy: 0.9679
Epoch 62/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0790 - accuracy: 0.9682
Epoch 63/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0794 - accuracy: 0.9685
Epoch 64/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0786 - accuracy: 0.9676
Epoch 65/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0789 - accuracy: 0.9680
Epoch 66/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0781 - accuracy: 0.9691
Epoch 67/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0784 - accuracy: 0.9678
Epoch 68/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0781 - accuracy: 0.9686
Epoch 69/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0784 - accuracy: 0.9682
Epoch 70/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0776 - accuracy: 0.9687
Epoch 71/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0777 - accuracy: 0.9688
Epoch 72/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0776 - accuracy: 0.9687
Epoch 73/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0771 - accuracy: 0.9690
Epoch 74/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0774 - accuracy: 0.9688
Epoch 75/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0777 - accuracy: 0.9687
Epoch 76/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0772 - accuracy: 0.9693
Epoch 77/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0775 - accuracy: 0.9691
Epoch 78/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0774 - accuracy: 0.9691
Epoch 79/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0776 - accuracy: 0.9694
Epoch 80/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0768 - accuracy: 0.9699
Epoch 81/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0769 - accuracy: 0.9691
Epoch 82/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0765 - accuracy: 0.9693
Epoch 83/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0770 - accuracy: 0.9695
Epoch 84/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0766 - accuracy: 0.9695
Epoch 85/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0759 - accuracy: 0.9700
Epoch 86/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0764 - accuracy: 0.9692
Epoch 87/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0763 - accuracy: 0.9695
Epoch 88/100
804/804 [==============================] - 9s 12ms/step - loss: 0.0764 - accuracy: 0.9700
Epoch 89/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0763 - accuracy: 0.9702
Epoch 90/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0765 - accuracy: 0.9694
Epoch 91/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0760 - accuracy: 0.9695
Epoch 92/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0756 - accuracy: 0.9697
Epoch 93/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0755 - accuracy: 0.9697
Epoch 94/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0758 - accuracy: 0.9698
Epoch 95/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0757 - accuracy: 0.9698
Epoch 96/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0757 - accuracy: 0.9704
Epoch 97/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0758 - accuracy: 0.9695
Epoch 98/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0757 - accuracy: 0.9696
Epoch 99/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0759 - accuracy: 0.9702
Epoch 100/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0753 - accuracy: 0.9704

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6966 - accuracy: 0.6250 - 882ms/epoch - 3ms/step
Loss: 0.6966257691383362, Accuracy: 0.6249562501907349

In [16]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')